<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<!-- Login form needs to be properly done -->

    <h1>Login to Zomb.ie</h1>

<form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

{% endblock content %}