<!DOCTYPE html>

<!-- This is the base html file with footers, headers and CSS link-->

<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="URL/TO/stylesheet.css" />
    <title>Zomb.ie</title>
</head>

<header>
    <a href = "/zombieapp/login">Login</a>
    <a href = "/zombieapp/register">Register</a>
    <a href = "/zombieapp/leaderboard">Leaderboard</a>
    <a href = "/zombieapp/game_instructions">Game instructions</a>
    <a href = "/zombieapp/game">Game</a>
    <a href = "/">Index</a>
</header>

<body>

{% block content %}{% endblock content %}

</body>


<footer>
    <p>Zomb.ie</p>

</footer>

</html>