<!DOCTYPE html>

<!-- This is the base html file with footers, headers and CSS link-->
{% load staticfiles %}

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/zomb-ajax.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}" />

<html lang="en">
<head>

    <title>Zomb.ie</title>
</head>

<header>
    <p>Links to different pages</p>
</header>

<body>
<button id="about-btn"> Click Me - I'm Javascript on Speed</button>
{% block content %}{% endblock content %}

</body>


<footer>
    <p>Zomb.ie</p>
    <p>Links to different pages</p>

</footer>

</html>
