{% extends 'base.html' %}

{% block content %}

<link href="/static/game.css"  type="text/css" rel="stylesheet">

    <pre>{{ message }}</pre>
    {% for option in options %}
        <form name="game_form" method ="post" action="/game/">
            {% csrf_token %}
            {% if option == 'MOVE' or option == 'SEARCH' %}
                <p>
                <input type="text" name="move" value="{{ option }}" hidden>
                Enter number of house/room:<input type="text" name="pos">
                <input type="submit" value="{{ option }}">
                </p>
            {% else %}
                <p>
                <input type="text" name="move" value="{{ option }}" hidden>
                <input type="submit" value="{{ option }}">
                </p>
            {% endif %}
        </form>
    {% endfor %}

{% endblock %}
