<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

    <h1>Instructions:</h1>

    <p>You begin the game on a street with many houses</p>

    <p>Each house contains a certain amount of rooms</p>

    <p>Each room can contain some of the following: ammo, food, other survivors and zombies</p>

    <p>Other survivors and ammo helps you fight zombies, food helps you survive</p>

    <p>When you encounter a zombie, you may fight or run away</p>

    <p>At the end of each day, you eat some food (the more survivors you have, the more food you need)</p>

    <p>Your goal is to kill as many zombies and survive as many days as you can</p>

{% endblock content %}