<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<h1>Profile</h1>
<p>Username:{{ user.username }}</p>
<img src="{{ player.picture }}">
<p>Games played:{{ statistics.games }}</p>
<p>Best days survived:{{ statistics.best_days }}</p>
<p>Average days survived:{{ statistics.avg_days }}</p>
<p>Best kills:{{ statistics.best_kills }}</p>
<p>Average kills:{{ statistics.avg_kills }}</p>
<p>Best party:{{ statistics.party }}</p>

    {% for badge in badges %}
        <p>{{ badge }}</p>
    {% endfor %}

{% endblock content %}
